<mat-expansion-panel #panel hideToggle expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Uploading {{data.name}}
      </mat-panel-title>
      <mat-icon *ngIf="!panel.expanded" >keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="panel.expanded" >keyboard_arrow_down</mat-icon>
      <mat-panel-description>
        <mat-spinner *ngIf="!uploadError" ></mat-spinner>
        <mat-icon *ngIf="uploadError" >keyboard_arrow_down</mat-icon>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-progress-bar  [color]="uploadError?'warn':'primary' " mode="determinate" value="{{uploadProgressPercentage}}"></mat-progress-bar>

  </mat-expansion-panel>