#loadingSpinner {

    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: rgb(var(--color-primary));
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    margin: 0 4px 0 4px;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }

  mat-expansion-panel-header span{
    display: flex !important;
    flex-direction: row  !important;
    align-items: center !important;
    padding: 8x auto 8px auto !important;

    >mat-icon{
        font-size: 28px !important;
    }

    >div{
        width: 20%;
    }
  }