<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between baseline">
    <!-- <div>{{title}}</div> -->
<div>
    <h2 *ngIf="urlList.length>1" >Share {{urlList.length}} files</h2>
    <h2 *ngIf="urlList.length==1" >Share "{{urlList[0].name}}"</h2>

</div>
    <button type="button" mat-icon-button (click)="close()" tabindex="-1">
        <mat-icon >close</mat-icon>
    </button>
</div>
<hr class=".mt-n2" >
<mat-dialog-content>



<div class="list__main"  >
    <div   *ngFor="let file of urlList" > 
        <div  fxLayoutAlign="space-between center" >
            <div fxFlex="30" >
                <h3 class="list-item__name" >{{file.name}}</h3>
            </div>                <!-- <span matListItemLine>{{file.url}}</span> -->
            <div fxFlex="60" >
                <mat-form-field class="w-100 "  disabled>
                    <input disabled matInput  value={{file.url}}>
                    <button class="ml-3  bg-primary text-white" mat-flat-button matSuffix  (click)="copy(file)" >
                        <mat-icon>content_copy</mat-icon>
                    </button>
                  </mat-form-field>
            </div>
        </div>
        
        </div>
</div>


</mat-dialog-content>

<hr>
    <div  class="mt-3" fxLayout="row" fxLayoutAlign="space-between baseline" >
        <button class="w-4 bg-primary text-white" mat-raised-button  (click)="copy(urlList)">Copy all
    <mat-icon> link </mat-icon>
        </button>
        <button mat-raised-button class=" bg-primary text-white"  (click)="close()">Done</button>
    </div>

